.first{
    margin: 10% 40% ;
    text-align: center;
    margin-top: 2rem;
}

.formdiv{
    padding: 50px;
    align-items: center;
    margin-right: -20rem;
    margin-bottom: 3rem ;
}

.google{
    font-size: 90px;
    text-align: center;
    color: black;
    text-decoration: white;
    font-family: 'Reem Kufi', sans-serif;
    
}

.searchbar{
    width: 600px;
    height: 3rem;
    margin-left: -20rem;
    border-radius: 25px;
    border-top-color: rgb(179, 177, 177);
    font-style: bold;
    margin-top: -30px;
}

.link{
    color: black;
}
.button{
    width: 10rem;
    height: 3rem;
    border: none;
}
.boxes{
    padding: 2rem;
    margin-left: -20rem;
    
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color: black;
}
.G{
    color:#4285F4;
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
}
.O{
    color: #DB4437;
}
.e{
    color: #F4B400;
}
.l{
    color: #0F9D58;
}
.zx{
    text-decoration: none;
    color:black;
}
.zx:hover{
    color:black;
}
.single{
    font-size: 6rem;
}




